@import url("..components/card.css");
@import url("..components/feature.css");
@import url("..components/rive.css");

#gallery-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

#gallery {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.page {
  flex: 0 0 100%;
}
